{% extends 'base.html' %}
{% block style %}
<style>
        .rounded-edges {
        border-radius: 0.25rem;
        }
    </style>
{% endblock %}
{#{% block title %}Login{% endblock %}#}

{% block content %}
  <section class="hero is-info">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title is-2">
          ChatMe
        </h1>
        <h2 class="subtitle is-5">
          An exploration into ChatMe Programmable Chat.
          <br/> Join one of the rooms below to start your adventure
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        {% for room in rooms %}
        <div class="column">
          <div class="card rounded-edges">
            <div class="card-content">
              <p class="title is-4">{{room.name}}</p>
              <div class="content">
                <p>
                  {{room.description}}
                </p>
                <a href='rooms/{{room.slug}}' class="button">Join Room</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <div>
      <a href="{% url 'create_rooms' %}" class="button">Create Room</a>

  </div>




{% endblock %}