{% extends 'base.html' %}
{% load static %}

{% block style %}

    <title>{{room.name}} | ChatMe</title>

{% endblock %}

{% block content %}

{#  <div class="container">#}
{#    <div class="columns">#}
{#      <div class="column is-three-quarters">#}
{#        <section>#}
{#          <div id="messages"></div>#}
{#          <form id="message-form">#}
{#            <div class="field">#}
{#              <label class="label">Message</label>#}
{#              <div class="control">#}
{#                <textarea class="textarea" id="message-input"placeholder="Your message here" rows="3"cols="33" maxlength="200"wrap="hard"autofocus>#}
{#               </textarea>#}
{#              </div>#}
{#              <button type="submit" >Send</button>#}

{% endblock %}